{% extends "layout/base.html" %}

{% block 'title' %} Delete User {% endblock 'title' %}

{% block 'content' %}
{% include "include/Sidebar.html" %}
{% include "include/ToastMessage.html" %}

<div class="p-2 sm:ml-64 mt-16 md:mt-14">
  <form action="/user/delete/{{ user.user_id }}" method="post">
    {% csrf_token %}
    <div class="mx-auto w-full md:w-1/3 mb-2">
      <label for="user" class="block text-2xl p-8 font-medium mb-2">Delete user?</label>
      <div class="flex justify-end">
        <a href="/user/list" class="bg-white text-sm font-medium text-black px-3 py-2.5 rounded-sm shadow-sm cursor-pointer
        hover:bg-gray-100 hover:outline-none">Back</a>
        <button  type="submit" class="bg-red-600 text-sm font-medium text-white px-3 py-2.5 mr-1 rounded-sm shadow-sm cursor-pointer hover:bg-green-700 hover:outline-none"
        >Delete User</button>
      </div>
    </div>
  </form>
</div>


{% endblock 'content' %}  